{{ partial "header" . }}

<main role="main" class="container">

    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ partial "paginator" . }}

{{ partial "footer" . }}
