{{ partial "header" . }}

<main role="main" class="container intro">

    {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

    <h1 class="mt-5">{{ .Site.Title }}</h1>

    <h2>{{ markdownify .Site.Params.Description }}</h2>

</main>

{{ partial "footer" . }}
