html, body {
    height: 100%;
}

body {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color:snow;
}

main {
    margin: auto;
    flex: 1 0 auto;
    max-width: 90%;
}

/*footer*/

.copyright {
    margin: 15px 0;
    text-align: center;
}

/*home page*/

.intro {
    transform: translateY(8vh);
    text-align: center;
}

.intro > h1 {
    color: #212121;
    font-size: 9vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    max-width: 300px;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
    padding-right: .5rem;
    padding-left:  .5rem;
}

.navbar-title {
    font-size: 125%;
    color: var(--accent);
    padding-right: .5rem;
    padding-left:  .5rem;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--taccent);
    border-bottom: var(--border-width) solid var(--caccent);
}

footer {
    background-color: #f5f5f5;
    border-bottom: var(--border-width) solid var(--baccent);
}
