<style>

    html body {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }

    :root {
        --accent:  {{ .Site.Params.accent  | default "#2196F3" }};
        --taccent: {{ .Site.Params.taccent | default "#2196F3" }};
        --caccent: {{ .Site.Params.taccent | default "#2196F3" }};
        --baccent: {{ .Site.Params.baccent | default "#2196F3" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0 {{ end }};padding-left
    }

</style>

<!-- main -->
<link rel="stylesheet" href="{{ "/css/main.css" | absURL }}">

<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}">

<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }} <link rel="stylesheet" type="text/css" href="/css/styles/{{ .Site.Params.highlightStyle | default "default" }}.css"> {{ end }}

<!-- bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- font awesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
