<footer class="footer">
    <div class="copyright container">
        <span class="text-muted">{{ .Site.Params.copyright | default "&copy; all rights reserved. powered by [Hugo](https://gohugo.io) and [Minimal](https://github.com/calintat/minimal)" | markdownify }}</span>
    </div>    
</footer>
       
</body>

</html>
