<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head-open" . }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ if .Site.Params.appletouchicon }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.appletouchicon | absURL }}">
    {{ end }}
    {{ if .Site.Params.favicon32x32 }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon32x32 | absURL }}">
    {{ end }}
    {{ if .Site.Params.favicon16x16 }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon16x16 | absURL }}">
    {{ end }}
    {{ if .Site.Params.manifest }}
    <link rel="manifest" href="{{ .Site.Params.manifest | absURL }}">
    {{ end }}
    {{ if and (.Site.Params.maskicon) (.Site.Params.maskcolor) }}
    <link rel="mask-icon" href="{{ .Site.Params.maskicon | absURL }}" color="{{ .Site.Params.maskcolor }}">
    {{ end }}
    {{ if .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ end }}
    {{ if .Site.Params.msappTileColor }}
    <meta name="msapplication-TileColor" content="{{ .Site.Params.msappTileColor }}">
    {{ end }}
    {{ if .Site.Params.msappconfig }}
    <meta name="msapplication-config" content="{{ .Site.Params.msappconfig }}">
    {{ end }}
    {{ if .Site.Params.themecolor }}
    <meta name="theme-color" content="{{ .Site.Params.themecolor }}">
    {{ end }}
    {{ partial "css" . }} {{ partial "js" . }} {{ .Hugo.Generator }}
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .Site.GoogleAnalytics }}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', '{{ .Site.GoogleAnalytics }}');
    </script>
    {{ end }}

    <script src="/upup.min.js"></script>
    <script>
        UpUp.start({
            'content-url': '{{ .Page.Permalink }}',
            'assets': ['/css/bootstrap.min.css', '/css/font-awesome.min.css', '/css/main.css', '/css/{{ .Site.Params.highlightStyle }}.min.css',
            '/js/email-decode.min.js', '/js/highlight.pack.js', '/js/jquery.min.js']
        });
    </script>
    
</head>

<body>
    {{ partial "body-open" . }}
    <header>
        <nav class="navbar navbar-expand-md navbar-{{ .Site.Params.menucolor }} navbar-default fixed-top bg-{{ .Site.Params.menucolor }}">
            <span class="navbar-title">{{ .Site.Title }}</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {{ if .Site.Menus.main }}
                <ul class="navbar-nav mr-auto">
                  {{ range .Site.Menus.main.ByWeight }}
                    {{ if .HasChildren }}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ .URL | relLangURL }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ .Name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                          {{ end }}
                        </div>
                      </li>
                    {{ else }}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                      </li>
                    {{ end }}
                  {{ end }}
                </ul>
                {{ end }}

                {{ if .Site.Menus.icon }}
                <ul class="navbar-nav navbar-right">
                    {{ range sort .Site.Menus.icon }}
                    <li class="navbar-icon nav-item">
                        <a href="{{ .URL }}"><i class="fa fa-{{ .Name }}"></i></a>
                    </li>
                    {{ end }}
                </ul>
                    {{ end }}
            </div>
        </nav>
    </header>

