<!-- jquery -->
<script src="/js/jquery.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}
    <script src="/js/highlight.pack.js"></script>
    {{ range .Site.Params.highlightLanguages }} <script src="/js/languages/{{ . }}.min.js"></script> {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . | absURL }}"></script> {{ end }}

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>
